/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------------------------------------------------
                C U S T O M  S T Y L E S
----------------------------------------------------------*/
html {
	font-family: 'Roboto', sans-serif;
}

* {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Poppins', sans-serif;
	text-align: center;
	color: #CFBC2A;
	padding-top: 2rem;

}

/* Styling Banner Img */
.bannerimg {
	width: 100%;
}

/* Styling the Navigation */
.navigation {
	background-color: #0C2680;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: normal;
}

.logo {
	width: 15rem;
	justify-self: left;
}

nav ul {
	display: flex;
	padding-top: 3rem;
	padding-right: 2rem;

}

nav ul a {
	padding: .5rem;
	text-decoration: none;
	color: whitesmoke;
	font-family: 'Poppins', sans-serif;
}

nav ul a:hover {
	color: #CFBC2A;
}

/* Styling the Homepage About Me Section */

.mainpage{
	background-color: navy;
}
.home-about-card {
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
	margin: 0 auto;
	background-color: #0C2680;
}

.home-about {
	background-color:navy;
	padding: 2rem;
	margin: 4rem auto;
}

.home-about p {
	color: whitesmoke;
}

.card-title {
	color: #CFBC2A;

}

.home-about-card .btn {
	font-family: 'Poppins', sans-serif;
	background-color: #CFBC2A;
	border: none;
}

.home-about-card .btn:hover {
	background-color: whitesmoke;
	color: #0C2680;
}

/* Close Home Page About Styling */

/* Styling the Gallery Page */
	
.gallerypage{
	width: auto;
	background-color: navy;
	padding-top: 2rem;
}	

.gallerypage h2{
	margin: 2rem ;

}
.gallery-shelf{
		display: flex;
		flex-direction: row;
		max-width: 75%;
		margin: 0 auto;
		justify-content: space-between;
		align-items: ;
	}

.gallery-shelf .card {
	width: 400px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
	margin: 1rem;
	background-color: #0C2680;
	
}

.card p{
	color:whitesmoke;
	padding: 1rem;
}
/* Styling About Page */

.aboutpage{
	background-color: navy;
	padding-bottom: 10rem;
}
.about-text{
	max-width: 50%;
	margin:0 auto;
	margin-bottom: 10rem;
	padding-top: 5rem;
}
.about-text p {
	color: whitesmoke;
	text-justify: auto;
}
.about-text p a{
	color:#CFBC2A;
	text-transform: uppercase;
}
/* Styling Contact Page */
.contact {
    position: relative;
    box-sizing: border-box;
    padding: 10em;
	background-color: navy;
}

.contact h2{
	padding-bottom: 2rem;
}
.form label{
	color: #CFBC2A;
}
.contactfield {
    padding: 1em 0;
}

.contact h3 {
    padding-top: 1rem;
}

.fullname {
	font-family: 'Poppins', sans-serif;
    width: 98%;
    margin-bottom: 1em;
    margin-top: 0.25em;
}

.youremail {
	font-family: 'Poppins', sans-serif;
    width: 98%;
    margin-bottom: 1em;
    margin-top: 0.25em;
}

.message {
	font-family: 'Poppins', sans-serif;
    width: 98%;
    height: 5rem;
    margin-bottom: 1em;
    margin-top: 0.25em;
}

.contactfield button {
	margin-top: 2rem;
	font-family: 'Poppins', sans-serif;
	background-color: #CFBC2A;
	color: whitesmoke;
	border: none;
}
.contactfield button:hover{
	background-color: whitesmoke;
	color: #0C2680;
}
/* Closing Contact Section

/* Styling the Footer */
.footer-parent {
	background-color: #0C2680;
	display: flex;
	justify-content: center;
	margin: auto;
	padding: 1rem 2rem 0 2rem;
	align-items: center;
}

/* Footer - Socials */
.footer-socials {
	margin-top: .1rem;
}

.footer-socials ul {
	display: flex;
	padding-left: 0;
	margin-bottom: .1rem;
}


.footer-socials ul li a {
	padding: 0 .2rem 0 .2rem;
	text-decoration: none;
	font-size: 1.2rem;
	color: #CFBC2A;
	transition: color .3s;
}

.footer-socials ul li a:hover {
	color: #B9CDF2;
}

.footer-socials p {
	font-family: 'Poppins', sans-serif;
	color: #CFBC2A;
	font-size: .8rem;
}

/* Footer - Copyright */
.footer-child {
	align-self: flex-end;
	font-family: 'Poppins', sans-serif;
	font-size: .7rem;
	color: #B9CDF2;
}